[submodule "build_tools"]
	path = build_tools
	url = https://github.com/nicozink/build_tools.git
[submodule "libraries/cpp_util"]
	path = libraries/cpp_util
	url = https://github.com/nicozink/cpp_util.git
[submodule "libraries/unittest"]
	path = libraries/unittest
	url = https://github.com/nicozink/unittest.git
